# Developer local settings
developer-local-settings/


# Log files
*.log


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
/out/

### MacOS ###
.DS_Store
.AppleDouble
.LSOverride


### Temp-Files and Output ###
node_modules/
/dist/
.env
/playwright-report/
/test-results/
# generated on typscript incremental builds
*.tsbuildinfo

